.form_group{
    border: 1px solid rgb(226, 223, 223);
    margin: 10px 10px 10px 0px; 
    width: 30%;
}

.form_group input,select{
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
}
.form_group input::placeholder{
    color: #7c8a97;
    font-size: .9rem;
}
.journey_time::before{
    content: 'Journey Time :';
    margin-right: 15px;
    color: #7c8a97;
    font-size: .9rem;
}
.journey_Date::before{
    content: 'Journey Date :';
    margin-right: 15px;
    color: #7c8a97;
    font-size: .9rem;
}

.form_group button{
    border: none;
    background: #000d6b;
    color: #fff;
    width: 100%;
    padding: 5px 5px;
}