.common_section{
    padding: 80px 0px;
    background: linear-gradient(rgba(2, 9, 65, 0.9), rgba(1, 6, 48, 0.5)),url('../../assets//all-images//slider-img//slider-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.common_section-title{
    color: #fff;
}