.contact_form{
    border: 1px solid rgb(216, 213, 213);
    margin-bottom: 5px;
}
.contact_form input{
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    
}
.contact_button button{
    border: none;
    background: #000d6b;
    width: 100%;
    margin-top: 2px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.social_media span i{
    background: #000d6b;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
   
}