@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
h4,h6{
  color: #f9a826;
}

h2,h5{
  color: #000d6b;
  font-weight: 600 !important;
}

p{
  color: #7c8a97;
  font-size: .9rem;
}

a{
  text-decoration: none !important;
}